.Container h1{
  margin: 3%;
}

.Inputs{
width: 100vw;
height: 15vh;
}

.Names{
  margin-top: 2%;
  margin-bottom: 15%;
  display: flex;
  justify-content: space-evenly;
}

.Name{
  width: 15vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media (max-width: 1200px){
  .Inputs{
    flex-direction: column;
    height: 65vh;
    margin-bottom: 2vh;
  }

  .Container h1{
    margin: 10%;
    font-size: 13vw;
  }

  .Names{
    margin-top: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
  }

  .Name{
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
}